.container {
  margin: 0 auto;
  max-width: 1000px;
}

.wrapper {
  display: flex;
}

.main {
  /* 100% on mobile */
  width: 85%;
}

.toc {
  margin-left: 30px;
  margin-top: 20px;
}

.toclist {
  border-left: 1px solid var(--brand-grey-medium);
  font-size: 14px;
  overflow-y: auto;
  position: sticky;
  top: 25px;
}

/* https://stackoverflow.com/questions/9670383/css-override-line-height-on-word-wrap */
.toclist li {
  padding: 5px 0 0 0;
  margin: 5px 0;
  line-height: 15px;
}

.toclist > ul > li {
  margin-left: 15px;
}

.toclist > ul > li > ul > li {
  margin-left: 20px;
}

.toclist a {
  transition: all 0.3s ease;
}

.toclist a:hover {
  color: var(--brand-saturate-60);
}

.title {
  font-size: 50px;
  letter-spacing: -1.5px;
  line-height: 60px;
  margin: 20px 0;
  opacity: 0.9;
}

.published {
  font-style: italic;
  font-weight: 300;
  margin: 15px 0;
  opacity: 0.8;
}

.feature-image {
  margin-bottom: 20px;
}

.content {
  font-size: 18px;
  line-height: 30px;
}

.content code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
  font-family: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 95%;
  margin: 0;
  padding: 0.2em 0.4em;
}

.content pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-top: 25px;
}

.content pre[data-language]::before {
  background: #f7df1e;
  border-radius: 4px;
  color: #000000;
  font-size: 0.75rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  letter-spacing: 0.075em;
  line-height: 1;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  left: 0;
  padding: 3px;
}

.content pre[data-language="applescript"]::before {
  content: "applescript";
}

.content pre[data-language="bash"]::before {
  content: "bash";
}

.content pre[data-language="js"]::before {
  content: "js";
}

.content pre[data-language="ruby"]::before {
  content: "ruby";
}

.content pre[data-language="yml"]::before {
  content: "yml";
}

.content pre[data-language="erb"]::before {
  content: "erb";
}

.content pre[data-language="json"]::before {
  content: "json";
}

.content pre[data-language="javascript"]::before {
  content: "javascript";
}

.content pre[data-language="gherkin"]::before {
  content: "gherkin";
}

.content pre[data-language="html"]::before {
  content: "html";
}

.content pre[data-language="http"]::before {
  content: "http";
}

.content pre[data-language="markdown"]::before {
  content: "markdown";
}

.content pre[data-language="sql"]::before {
  content: "sql";
}

.content pre[data-language="python"]::before {
  content: "python";
}

.content pre[data-language="nomad"]::before {
  content: "nomad";
}

.content pre[data-language="Makefile"]::before {
  content: "Makefile";
}

.content pre[data-language="Dockerfile"]::before {
  content: "Dockerfile";
}

.content pre[data-language="graphql"]::before {
  content: "graphql";
}

.content pre[data-language="xml"]::before {
  content: "xml";
}

/* tablet landscape */
@media (max-width: 1280px) {
  .content ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

/* tablet portrait */
@media (max-width: 1024px) {
}

/* mobile landscape */
@media (max-width: 768px) {
  .wrapper {
    display: block;
  }

  .main {
    width: 100%;
  }

  .toc {
    display: none;
  }

  .title {
    font-size: 2.3rem;
    line-height: 40px;
  }
}

/* mobile portrait */
@media (max-width: 640px) {
  .wrapper {
    display: block;
  }

  .main {
    width: 100%;
  }

  .toc {
    display: none;
  }

  .title {
    font-size: 2rem;
    line-height: 40px;
  }

  .content h2 {
    margin: 40px 0 15px;
  }
}
