.title {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 55px;
  margin: 20px 0;
}

.feature-image {
  margin-bottom: 20px;
}

.content {
  font-size: 1.2rem;
  line-height: 30px;
}

.content a {
  color: var(--link-color);
}

.content p {
  margin-bottom: 20px;
}

.content a:hover {
  border-bottom: 1px solid var(--brand-lighten-10);
  color: var(--brand-lighten-10);
}

.content pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding-top: 25px;
}

.content pre[data-language]::before {
  background: #f7df1e;
  border-radius: 4px;
  color: #000000;
  font-size: 0.75rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  letter-spacing: 0.075em;
  line-height: 1;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  left: 0;
  padding: 3px;
}

.content pre[data-language="bash"]::before {
  content: "bash";
}

.content pre[data-language="js"]::before {
  content: "js";
}

/* tablet landscape */
@media (max-width: 1280px) {
}

/* tablet portrait */
@media (max-width: 1024px) {
}

/* mobile landscape */
@media (max-width: 768px) {
  .title {
    font-size: 2.3rem;
    line-height: 40px;
  }
}

/* mobile portrait */
@media (max-width: 640px) {
  .title {
    font-size: 2.3rem;
    line-height: 40px;
  }
}
