:root {
  --brand: #81439c;

  --brand-lighten-10: #9c5ab8;
  --brand-lighten-20: #b17ec7;
  --brand-lighten-30: #c7a1d7;
  --brand-lighten-40: #dcc5e6;
  --brand-lighten-50: #f1e9f5;
  --brand-lighten-55: #fcfafd;

  --brand-darken-10: #81439c;
  --brand-darken-20: #633478;
  --brand-darken-30: #281531;
  --brand-darken-35: #1a0d1f;
  --brand-darken-40: #0b060d;

  --link-color: #5d93ff;

  --inactive-color: #bbb;

  --base-font-color: var(--brand-darken-35);
  --base-font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--brand-lighten-55);
  color: var(--base-font-color);
  color-adjust: exact !important;
  font-family: var(--base-font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* enable background printing https://stackoverflow.com/a/14784655/3991687 */
  -webkit-print-color-adjust: exact !important;
}
