.markdown-subtitle {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 2.5rem;
  margin: 45px 0 15px;
  opacity: 0.8;
}

.markdown-sub-subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.markdown-link {
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    var(--post-link-color-hover) 0%,
    var(--post-link-color-hover) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  transition: background-size 0.4s;
  color: var(--post-link-color);
  padding: 3px;
  border-radius: 4px;
}

.markdown-link:hover {
  text-decoration: none;
  color: var(--post-link-color-brighten);
  background-size: 4px 50px;
}

.markdown-aside {
  background-color: var(--basic-grey);
  border-left: 4px solid var(--brand);
  border-radius: 0px 8px 8px 0px;
  /* margin: T R B L */
  margin: 30px 0 30px 0;
  padding: 15px;
}

.markdown-memory-lane {
  background-color: var(--memory-lane-background-color);
  border: 2px solid var(--memory-lane-border-color);
  border-radius: 15px;
  margin: 30px 0;
  padding: 15px;
  color: var(--memory-lane-text-color);
}

.markdown-memory-lane h3 {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--memory-lane-heading-color);
}

.markdown-memory-lane p {
  margin-bottom: 10px;
}

.markdown-emphasis {
  font-style: italic;
}

.markdown-strong {
  font-weight: 700;
  opacity: 0.8;
}

.markdown-para {
  margin-bottom: 20px;
}

.markdown-list-ordered {
  list-style: decimal;
  margin-bottom: 15px;
  margin-left: 20px;
}

.markdown-list-item {
  padding-left: 5px;
}

.markdown-list-unordered {
  list-style-type: "→";
  margin-bottom: 15px;
  margin-left: 20px;
}

.markdown-blockquote {
  border-left: 3px solid var(--brand-triadic-middle);
  font-size: 19px;
  font-style: italic;
  opacity: 0.8;
  padding-left: 15px;
}

.markdown-kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: black;
  text-shadow: 0 1px 0 white;
  background-color: #e4e6e8;
  border: 1px solid #9fa6ad;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(12, 13, 14, 0.15), inset 0 1px 0 0 white;
  white-space: nowrap;
}

.markdown-header-link svg {
  fill: var(--brand-darken-40);
}

.markdown-table {
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.markdown-table td,
.markdown-table th {
  border: 1px solid #ddd;
  padding: 6px;
}

.markdown-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.markdown-table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: var(--brand-lighten-10);
  color: white;
}

.markdown-table tr:hover {
  background-color: #ddd;
}

.markdown-strikethrough {
  color: var(--post-strikethrough-font-color);
  font-family: sans-serif;
  text-decoration: line-through wavy var(--post-strikethrough-color);
}

.markdown-details {
  cursor: default;
  margin-bottom: 15px;
}
