/* .javascript {
  background-color: #f7e691;
  color: #5E4C3C;
}

.ruby {
  background-color: #FEE5E9;
  color: #3C1F2A;
}

.rails {
  background-color: #D5F8E9;
  color: #1E3D33;
} */

/* .category {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
} */


/* second attempt */
.css {
  background-color: #f0d6c7;
  color: #364c63;
}

/* DATABASE */
.database {
  background-color: #f1e4e4;
  color: #4b4a4d;
}

/* DEVOPS */
.devops {
  background-color: #d6e8f6;
  color: #3c4f5c;
}

/* GOLANG */
.golang {
  background-color: #f5e8dc;
  color: #4c3c2d;
}

/* JAVA */
.java {
  background-color: #f3d8b3;
  color: #7a5230;
}

/* JAVASCRIPT */
.javascript {
  background-color: #f7e691;
  color: #524229;
}

/* LINUX */
.linux {
  background-color: #e8f5e0;
  color: #3c4c35;
}

/* PYTHON */
.python {
  background-color: #ffe5d4;
  color: #703c11;
}

/* RAILS */
.rails {
  background-color: #f0d9e9;
  color: #4c3c4b;
}

/* RUBY */
.ruby {
  background-color: #f4d9e8;
  color: #4c2d3c;
}

/* WEB DEVELOPMENT */
.web-development {
  background-color: #f2e2c8;
  color: #4c3c2f;
}
