.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* TODO: Experiment with justify-content */
/* ref: https: //css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.articles {
  display: flex;
  margin-top: 30px;
}

.all {
  margin-top: 30px;
}
