.container {
  margin: 0 auto;
  max-width: 1000px;
}

.articles {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
    gap: 30px;
  }
}
