.all-link {
  background-color: var(--brand-lighten-10);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.1px;
  line-height: 35px;
  padding: 0 25px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.all-link:hover {
  background-color: var(--brand-lighten-5);
}
