/* TBD */
.container {
  /* margin-bottom: 30px;
  margin-top: 10px;
  line-height: 1.4;
  font-size: 18px; */
}

.header {
  color: #81439C;
  font-size: 20px;
  font-weight: 500;
  /* line-height: 25px; */
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
