.container {
  margin-top: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 40px;
}

.title:hover {
  border-bottom: 1px solid var(--base-font-color);
}

.date {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.read {
  color: var(--link-color);
}

.read:hover {
  border-bottom: 1px solid var(--link-color);
}
