.container {
  margin-top: 50px;
  text-align: center;
}

.sep {
  margin-bottom: 30px;
  opacity: 0.2;
}

.copy {
  font-size: 1.1rem;
  opacity: 0.7;
}

.social {
  margin-top: 25px;
  opacity: 0.7;
}

.social a {
  display: inline-block;
  margin-left: 15px;
}
