.container {
  justify-content: space-between;
  display: flex;
}

.logo {
  display: flex;
}

.profile {
  border: 1px solid var(--brand-darken-30);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.nav-list {
  display: flex;
}
