.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  display: flex;
}

.profile-wrapper {
  border: 1px solid var(--brand-lighten-40);
  border-radius: 50%;
  height: 70px;
  overflow: hidden;
  position: relative;
  width: 70px;
}

.profile-img {
  height: 100%;
  left: 0px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0px;
  width: 100%;
}

.header-item {
  color: var(--brand-darken-10);
  font-size: 22px;
}

.title {
  font-weight: 600;
  margin-left: 10px;
}

.nav-list {
  display: flex;
}

.nav-item {
  font-weight: 500;
  margin-left: 15px;
}
