.container {
  border-bottom: 1px solid var(--brand-grey-light);
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.logo {
  align-items: center;
  display: flex;
  margin-left: -5px;
}

.profile-wrapper {
  border: 1px solid var(--brand-lighten-40);
  border-radius: 50%;
  height: 70px;
  overflow: hidden;
  position: relative;
  width: 70px;
}

.profile-img {
  height: 100%;
  left: 0px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0px;
  width: 100%;
}

.header-item {
  color: var(--brand);
  font-size: 22px;
}

.title {
  font-weight: 600;
  margin-left: 10px;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  font-weight: 500;
  margin-left: 15px;
}

/* mobile portrait */
@media (max-width: 640px) {
  .container {
    border-bottom: none;
  }

  .inner {
    margin: 0;
  }
}
