.container {
  margin: 0 auto;
}

/* mobile landscape */
@media (max-width: 768px) {
  .container {
    margin: 0 16px;
  }
}

/* mobile portrait */
@media (max-width: 640px) {
  .container {
    margin: 0 16px;
  }
}
