.wrapper {
  color: var(--brand-desaturate-35-transp-50);
  position: relative;
}

.wrapper svg {
  left: 5px;
  position: absolute;
  top: 4px;
}

.search {
  border: 1px solid var(--brand-desaturate-39);
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search:focus {
  outline: none !important;
  border-color: var(--brand-lighten-40);
  box-shadow: 0 0 10px var(--brand-lighten-40);
}
